<?xml version="1.0" encoding="utf-8"?>
<package id="19db808c-3cf9-43e7-a0ad-4c1e63ccd53e" type="Eventing Package" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb">
  <name>IDeliverService.Eventing</name>
  <externalReference>b96cc3a8-36dc-48e4-a74c-9fced5012b0f</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="ed7d7f87-babb-4f57-83bf-d35b9f826bf6" include="Intent.Dapr.AspNetCore.Pubsub" isExternal="true">
      <module>Intent.Dapr.AspNetCore.Pubsub</module>
    </reference>
    <reference packageId="73db16ce-8cc2-4b89-8348-9a8bda3fda4c" include="Intent.Modelers.Eventing" isExternal="true">
      <module>Intent.Modelers.Eventing</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>